fastapi==0.111.0
uvicorn==0.29.0
strawberry-graphql[fastapi]==0.235.1
websockets==12.0
langchain==0.2.6
langchain-community==0.2.6
langchain-chroma==0.1.2
chromadb==0.5.3
python-multipart==0.0.9
pypdf==4.2.0
python-dotenv==1.0.1
openai==1.35.3